<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generic.Horizon</key>
	<dict>
		<key>Class</key>
		<string>Horizon</string>
		<key>Name</key>
		<string>Horizon</string>
		<key>Name2</key>
		<string>by SIRSI/Dynix
URL looks like .../ipac20/ipac.jsp</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://catalogue.humelibraries.vic.gov.au/ipac20/ipac.jsp?profile=hume</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotHorizon.png</string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Barcode</string>
				<key>Key</key>
				<string>sec1</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>sec2</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Millennium</key>
	<dict>
		<key>Class</key>
		<string>Millenium</string>
		<key>Name</key>
		<string>Millennium</string>
		<key>Name2</key>
		<string>by Innovative Interfaces
URL looks like .../patroninfo</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://sflib1.sfpl.org:443/patroninfo</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotMillennium.png</string>
		<key>Description</key>
		<string></string>
		<key>Note</key>
		<string>Millennium catalogues use various combinations of the above three fields. Leave the field blank if your library doesn&apos;t use it.</string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Name</string>
				<key>Key</key>
				<string>name</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Library Card #</string>
				<key>Key</key>
				<string>code</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>pin</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>generic.SIRSI</key>
	<dict>
		<key>Class</key>
		<string>SIRSI</string>
		<key>Name</key>
		<string>SIRSI</string>
		<key>Name2</key>
		<string>by SIRSI/Dynix
URL usually looks like .../uhtbin/cgisirsi/x/0/0/49/</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://yprl.sirsidynix.net.au/uhtbin/cgisirsi/x/0/0/49/</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotSIRSI.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>User ID</string>
				<key>Key</key>
				<string>user_id</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.CARLweb</key>
	<dict>
		<key>Class</key>
		<string>CARLweb</string>
		<key>Name</key>
		<string>CARLweb</string>
		<key>Name2</key>
		<string>by TLC
URL looks like .../carlweb/jsp/</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://www.acornweb.org/carlweb/jsp/piplogin.jsp</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotCARLweb.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Library Card #</string>
				<key>Key</key>
				<string>pid</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Last Name</string>
				<key>Key</key>
				<string>name</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Spydus</key>
	<dict>
		<key>Class</key>
		<string>Spydus</string>
		<key>Name</key>
		<string>Spydus</string>
		<key>Name2</key>
		<string>by Civica
Common OPAC in Australia
URL looks like .../cgi-bin/spydus.exe</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://boroondara.spydus.com/cgi-bin/spydus.exe/MSGTRN/OPAC/LOGINB</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>day month year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotSpydus.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Borrower ID</string>
				<key>Key</key>
				<string>BRWLID</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>BRWLPWD</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Libero</key>
	<dict>
		<key>Class</key>
		<string>Libero</string>
		<key>Name</key>
		<string>Libero</string>
		<key>Name2</key>
		<string>by Insight Informatics
Common OPAC in Australia
URL looks like .../libero/WebOpac.cls</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://library.woollahra.nsw.gov.au/libero/WebOpac.cls?login=member</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>day month year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotLibero.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>User ID</string>
				<key>Key</key>
				<string>usernum</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.OCLC</key>
	<dict>
		<key>Class</key>
		<string>OCLC</string>
		<key>Name</key>
		<string>OCLC</string>
		<key>Name2</key>
		<string>Common OPAC in Germany
URL looks like .../DB=1/LNG=EN/LNG=DU/USERINFO_LOGIN</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://opac.lbs-hildesheim.gbv.de:80/loan/DB=1/LNG=EN/USERINFO_LOGIN
(Use English LNG=EN)</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>day month year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotOCLC.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Number</string>
				<key>Key</key>
				<string>BOR_U</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>BOR_PW</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Bookit</key>
	<dict>
		<key>Class</key>
		<string>Bookit</string>
		<key>Name</key>
		<string>Bookit</string>
		<key>Name2</key>
		<string>Common OPAC in Sweden
URL looks like .../DB=1/LNG=EN/LNG=DU/USERINFO_LOGIN</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://opac.varmdo.se/pls/bookit/</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>year month day</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotBookit.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Lånekortsnr</string>
				<key>Key</key>
				<string>in_ci_borr_card_id__m</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN-kod</string>
				<key>Key</key>
				<string>in_pin_code__m</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Voyager</key>
	<dict>
		<key>Class</key>
		<string>Voyager</string>
		<key>Name</key>
		<string>Voyager</string>
		<key>Name2</key>
		<string>by Ex Libris</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://voyager.lib.umb.edu/vwebv/myAccount</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotVoyager.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>ID</string>
				<key>Key</key>
				<string>loginId</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Last Name</string>
				<key>Key</key>
				<string>lastName</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Evergreen</key>
	<dict>
		<key>Class</key>
		<string>Evergreen</string>
		<key>Name</key>
		<string>Evergreen</string>
		<key>Name2</key>
		<string>URL looks like .../opac/en-US/skin/.../xml/index.xml</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://catalog.kcls.org</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>year month day</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotEvergreen.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>username</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Evergreen2</key>
	<dict>
		<key>Class</key>
		<string>Evergreen2</string>
		<key>Name</key>
		<string>Evergreen variant 2</string>
		<key>Name2</key>
		<string>URL looks like .../opac/en-US/skin/.../xml/index.xml</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://catalog.kcls.org</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>year month day</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotEvergreen.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>username</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Evergreen3</key>
	<dict>
		<key>Class</key>
		<string>Evergreen3</string>
		<key>Name</key>
		<string>Evergreen variant 3</string>
		<key>Name2</key>
		<string>URL looks like .../opac/en-US/skin/.../xml/index.xml</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://catalog.kcls.org</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>year month day</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotEvergreen.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>username</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Evergreen4</key>
	<dict>
		<key>Class</key>
		<string>Evergreen4</string>
		<key>Name</key>
		<string>Evergreen variant 4</string>
		<key>Name2</key>
		<string>URL looks like .../opac/en-US/skin/.../xml/index.xml</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://catalog.kcls.org</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>year month day</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotEvergreen.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>username</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Koha</key>
	<dict>
		<key>Class</key>
		<string>Koha</string>
		<key>Name</key>
		<string>Koha</string>
		<key>Name2</key>
		<string>URL looks like .../cgi-bin/koha/opac-user.pl</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://catalog.losgatosca.gov/cgi-bin/koha/opac-user.pl</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotKoha.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Login</string>
				<key>Key</key>
				<string>userid</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.BiblioCommons</key>
	<dict>
		<key>Class</key>
		<string>BiblioCommons</string>
		<key>Name</key>
		<string>BiblioCommons</string>
		<key>Name2</key>
		<string>by BiblioCommons</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://yprl.bibliocommons.com/user/login</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotBiblioCommons.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>name</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>user_pin</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>generic.SOPAC</key>
	<dict>
		<key>Class</key>
		<string>SOPAC</string>
		<key>Name</key>
		<string>SOPAC</string>
		<key>Name2</key>
		<string></string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>https://www.pvld.org/user/checkouts</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotSOPAC.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>name</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>pass</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Polaris</key>
	<dict>
		<key>Class</key>
		<string>Polaris</string>
		<key>Name</key>
		<string>Polaris</string>
		<key>Name2</key>
		<string>by Polaris Library Systems</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://catalog.lebanoncountylibraries.org/polaris/</string>
		<key>WebPageURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotPolaris.png</string>
		<key>Description</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Barcode</string>
				<key>Key</key>
				<string>textboxBarcodeUsername</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Password</string>
				<key>Key</key>
				<string>textboxPassword</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.TalisPrism</key>
	<dict>
		<key>Class</key>
		<string>TalisPrism</string>
		<key>Name</key>
		<string>Talis Prism</string>
		<key>Name2</key>
		<string>by Talis
Common OPAC in the UK
URL looks like .../TalisPrism</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://onlinecatalogue.cityoflondon.gov.uk</string>
		<key>WebPageURL</key>
		<string></string>
		<key>OpeningHoursURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>day month year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotTalisPrism.png</string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Borrower Number</string>
				<key>Key</key>
				<string>hidden_username</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>hidden_password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Symphony</key>
	<dict>
		<key>Class</key>
		<string>Symphony</string>
		<key>Name</key>
		<string>Symphony</string>
		<key>Name2</key>
		<string>by SIRSI/Dynix
URL usually looks like .../client</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://pikp.ent.sirsi.net/client/default</string>
		<key>WebPageURL</key>
		<string></string>
		<key>OpeningHoursURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string>OPACScreenshotSymphony.png</string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Username</string>
				<key>Key</key>
				<string>j_username</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<true/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>j_password</string>
				<key>Required</key>
				<true/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>generic.Simple</key>
	<dict>
		<key>Class</key>
		<string>Simple</string>
		<key>Name</key>
		<string>Simple</string>
		<key>Name2</key>
		<string>by Harold Chu</string>
		<key>CatalogueURL</key>
		<string></string>
		<key>CatalogueURLExample</key>
		<string>http://myhost.com/loans.json or file:///tmp/loans.json</string>
		<key>WebPageURL</key>
		<string></string>
		<key>OpeningHoursURL</key>
		<string></string>
		<key>DateFormat</key>
		<string>month day year</string>
		<key>Path</key>
		<string>/</string>
		<key>Beta</key>
		<false/>
		<key>ImageName</key>
		<string></string>
		<key>Authentication</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Name</string>
				<key>Key</key>
				<string>name</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>Library Card #</string>
				<key>Key</key>
				<string>code</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<false/>
				<key>IsNumber</key>
				<false/>
			</dict>
			<dict>
				<key>Title</key>
				<string>PIN</string>
				<key>Key</key>
				<string>pin</string>
				<key>Required</key>
				<false/>
				<key>IsSecure</key>
				<true/>
				<key>IsNumber</key>
				<true/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
