<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Loans</key>
	<array>
		<dict>
			<key>titleAndAuthor</key>
			<string>Stand up for your gifted child : how to make the most of kids&apos; strengths at school and at home / Joa</string>
			<key>dueDate</key>
			<string>04-21-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Winged migration [videorecording] / Galatee Films presents a co-production Galatee Films, France 2 C</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Friend and foe [sound recording] / Menomena.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The math book : from pythagoras to the 57th dimension, 250 milestones in the history of mathematics</string>
			<key>dueDate</key>
			<string>04-21-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Once upon a town : the miracle of the North Platte Canteen / Bob Greene.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Othello [videorecording] / a co-production of LWT and WGBH Boston in association with the Canadian B</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The Supremes [videorecording] : reflections : the definitive performances 1964-1969 / Historic Music</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Clever tricks to stave off death / by David Malki !.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Guys write for Guys Read / edited by Jon Scieszka.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The empire of ice cream / by Jeffrey Ford ; with an introduction by Jonathan Carroll.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The frozen Thames / Helen Humphreys.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Stories from the vaults. Season 1 [videorecording] / Smithsonian Networks.</string>
			<key>dueDate</key>
			<string>04-21-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Yosemite in time : ice ages, tree clocks, ghost rivers / Mark Klett, Rebecca Solnit, Byron Wolfe.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Little constructions / Anna Burns.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>No country for old men [videorecording] / Miramax Films and Paramount Vantage present a Scott Rudin/</string>
			<key>dueDate</key>
			<string>04-07-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Dirt! [videorecording] : the movie / Common Ground Media, Inc. presents ; a film by Bill Benenson an</string>
			<key>dueDate</key>
			<string>04-07-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The gravedigger&apos;s daughter : a novel / Joyce Carol Oates.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Margaret Cho [videorecording] : beautiful / Clownery Productions ; producer Dennis Sugasawara ; dire</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Relativity and quantum physics for beginners / Steven L. Manly ; illustrated by Steven Fournier.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Instant egghead guide. Physics / Brian Clegg and Scientific American.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The areas of my expertise [sound recording] [sound recording] : [an almanac of complete world knowle</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Death wore white / Jim Kelly.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Woman strangled-- news at ten / Laurie Moore.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Gojira [videorecording] = Godzilla / Toho Co., Ltd. ; director, Ishiro Honda.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Cats to the rescue : true tales of heroic felines / by Marilyn Singer ; with illustrations by Jean C</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The cats&apos; house / text and photographs by Bob Walker.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Practical improvements for older homeowners : easy ways to make your home more comfortable as you ag</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Kitchen design guide.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The tyranny of e-mail : the four-thousand-year journey to your inbox / John Freeman.</string>
			<key>dueDate</key>
			<string>04-20-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The invisible kingdom : from the tips of our fingers to the tops of our trash, inside the curious wo</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Incontinent on the continent : my mother, her walker, and our grand tour of Italy / Jane Christmas.</string>
			<key>dueDate</key>
			<string>04-21-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The enthusiast : a novel / Charlie Haas.</string>
			<key>dueDate</key>
			<string> 04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Any which wall / Laurel Snyder ; drawings by LeUyen Pham.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Monty Python. Almost the truth [videorecording] / Eagle Rock Film Productions Limited in association</string>
			<key>dueDate</key>
			<string>04-20-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Adventureland [videorecording] / Miramax Films presents in association with Sidney Kimmel Entertainm</string>
			<key>dueDate</key>
			<string>04-20-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Sea-Cat and Dragon King / Angela Carter ; illustrated by Eva Tatcheva.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Masterpiece / Elise Broach ; illustrated by Kelly Murphy.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Michael Townsend&apos;s amazing Greek myths of wonder and blunders : welcome to the wonderful world of Gr</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Sing them home / Stephanie Kallos.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Roadside crosses / Jeffery Deaver.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Laura Rider&apos;s masterpiece : a novel / Jane Hamilton.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Live through this : a mother&apos;s memoir of runaway daughters and reclaimed love / Debra Gwartney.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>How to care for aging parents / by Virginia Morris ; [new] foreword by Robert Butler.</string>
			<key>dueDate</key>
			<string>04-28-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The butcher&apos;s boy : a novel / Thomas Perry ; [with a new introduction by Michael Connelly].</string>
			<key>dueDate</key>
			<string>04-30-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Footnotes in Gaza / Joe Sacco.</string>
			<key>dueDate</key>
			<string>04-30-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Unsafe / John Connor.</string>
			<key>dueDate</key>
			<string>04-30-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Weeds. Season two [videorecording] / Lions Gate Television ; Tilted Productions.</string>
			<key>dueDate</key>
			<string>04-30-10</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Battlestar Galactica. Season 2.0 [videorecording].</string>
			<key>dueDate</key>
			<string>04-30-10</string>
		</dict>
	</array>
	<key>Holds</key>
	<array>
		<dict>
			<key>titleAndAuthor</key>
			<string>Dollhouse. Season one [videorecording] / Mutant Enemy, Inc. ; 20th Century Fox Television.</string>
			<key>queueDescription</key>
			<string>Ready. Must pick up by 04-17-10</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Half broke horses : a true-life novel / Jeannette Walls.</string>
			<key>queueDescription</key>
			<string>1 of 1 holds</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>36 arguments for the existence of God : a work of fiction / Rebecca Newberger Goldstein.</string>
			<key>queueDescription</key>
			<string>15 of 84 holds on 20 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Bloodroot : a novel / Amy Greene.</string>
			<key>queueDescription</key>
			<string>12 of 64 holds on 18 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Model home : a novel / Eric Puchner.</string>
			<key>queueDescription</key>
			<string>6 of 100 holds on 20 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Book of shadows</string>
			<key>queueDescription</key>
			<string>1 of 1 holds on 0 copy</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>Shadow tag / Louise Erdrich.</string>
			<key>queueDescription</key>
			<string>79 of 263 holds on 64 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The weed that strings the hangman&apos;s bag : a Flavia de Luce mystery / Alan Bradley.</string>
			<key>queueDescription</key>
			<string>39 of 71 holds on 45 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The boy who couldn&apos;t sleep and never had to : a novel / DC Pierson.</string>
			<key>queueDescription</key>
			<string>4 of 7 holds on 8 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
		<dict>
			<key>titleAndAuthor</key>
			<string>The girl who fell from the sky : a novel / by Heidi W. Durrow.</string>
			<key>queueDescription</key>
			<string>247 of 267 holds on 67 copies</string>
			<key>pickupLocation</key>
			<string>Hollywood Library</string>
		</dict>
	</array>
</dict>
</plist>
