<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>AppBadgeCount</string>
	<key>DefaultValue</key>
	<string>Loans</string>
	<key>Titles</key>
	<array>
		<string>Off</string>
		<string>Overdue loans</string>
		<string>Holds ready</string>
		<string>Loans + holds</string>
	</array>
	<key>Values</key>
	<array>
		<string>Off</string>
		<string>Loans</string>
		<string>Holds</string>
		<string>Loans + Holds</string>
	</array>
</dict>
</plist>
